*{
    margin: 0;padding: 0;box-sizing: border-box;color: white; 
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    height: 9vh;
    background-color:#0f0f0f;;
    padding: 0 1rem;
    justify-content: space-between;
}
.start{
    display:flex;
    height: 100%;
    width: 10vw;
    align-items: center;
    justify-content: space-between;
    margin: 10dp;
}
.logoBox{
    display: inline-flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    
}
.contryIcon{
    position: relative;
    right: 15%;
    bottom: 15%;
    font-size: .6em;
    color:rgb(190, 190, 190);
}
.searchBox{
    height: 100%;
    display: inline-flex;
    align-items: center;
}
.searchBox input{
    width: 40vw;
    box-sizing: border-box;
    background-color: black;
    color: #aaa;
    border: 0.1px solid hsla(0, 0%,3%, 0.4);
    font-size: 16px;
    padding: 1px 0;
    height: 60%;
}
.searchBtn{
    box-sizing: border-box;
    border: 0.1px solid hsla(0, 0%,3%, 0.4);
    background-color: black;
    font-size: 16px;
    padding: 1px 0;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
}
#search{
    background-color:#646060;
}
#search img{
height: 100%;
}
#voiceSearch img{
    height: 60%;
}
.end{
    display:flex;
    height: 95%;
    width: 14vw;
    align-items: center;
    justify-content: space-between;
}
.end img{
    height: 30%;
}
.end button {

    border: .12px solid #3d8ebf;
    background-color: black;
    display: flex;
    height: 72%;
    width: 58%;
    padding: .6em;
    font-size: 1em;
    color: #3d8ebf;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.end button img{
    height: 120%;
}
#youTubeApps{
    margin-right: 10%;
}
main{
    height: 200vh;
}